.table-fixed tbody {
    display: block;
    height: 200px;
    overflow-y: auto;
}

.table-fixed thead {
    display: block !important;
}

.table-fixed tr {
    display: block;

}
.table-fixed td {
    width: 300px !important;
    min-width: 100px !important;
}

.table-fixed thead tr th {
    width: 300px !important;
    min-width: 100px !important;
    
}
