<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to CRM Webapp!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }
        .content {
            font-size: 20px;
            
        }
        .heading {
            font-size: 30px;
            font-weight: bold;

        }
    </style>
    
  </head>
  <body>
    <div class="heading">Hey {{user}} !!</div>
    <h2><p>Welcome to CRM Webapp!</p></h2>
    <div class="content"><p>Hey {{user}}, I'm Yash Prajapati, I'd like to personally thank you for signing up to our service.
    <br>We established this CRM Webapp in order to make the customer managment easy for you.
    <br>I'd love to hear what you think of CRM Webapp and if there is anything we can improve. 
    <br>If you have any questions, please reply to this email. I'm always
    happy to help!</p>
</div>
    <h2><i>- Yash Prajapati</i></h2>
  </body>
</html>
