{% load static %}
<style>
  .hello-msg{
    font-size:20px;
    color:#000;
    margin-right: 20px;
    text-transform: uppercase;
    min-width: 200px;
    max-width: 500px;
    font-weight: 700;
  }
  .logoutBTN {
    padding-right: 50px;
  }
  .navbar-brand{
    margin-left: 9vh !important;
    max-width: 50px;
  }
  .navbar{

    background: #fff;
  }
  
  .navbar-collapse .nav-link {
    margin-left: 5vh;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar-collapse .nav-link:hover {
    font-weight: 700;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <img class="navbar-brand" src="https://res.cloudinary.com/yashpra1010/image/upload/v1659451746/images/logo_transparent_bg_pmp7tl.png">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if request.user.is_staff %}
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Dashboard</a>
          <a class="nav-link" href="{% url 'products' %}">Products</a>
          {% else %}
          <a class="nav-link" href="/user">Home</a>
          <a class="nav-link" href="{% url 'account' %}">Settings</a>
        </div>
        {% endif %}
      </div>
</div>
    <span class="hello-msg"><a style="font-size: 30px;">&#128075</a> Hello , {{request.user}}</span>
    <span class="logoutBTN"><a class="nav-link btn-danger btn-rounded" href="{% url 'logout' %}">Logout<i class="fa fa-arrow-right-from-bracket"></i></a></span>
  </nav>
  <br><br><br>