<style>
	.row1{
		margin-left: 8vh;
	}
	.row1 .card{
		width: 40vh;
	}
	.row1 .col {
		margin-left: 10vh;
	}

	.dash-cards {
		width: 65vh ;
  display: flex;
  margin-left: 1vw;
  background: #f89d13;
  
  height: 140px;
  padding: 20px 20px 20px 20px;
  border-radius: 13px;
}

.icon-back {
	margin-top: 15px;
	margin-left: 5px;
  background: #00000033;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  color: #fff;
}

.icon-back i , .statusIcons{
margin-left: 2px;
  font-size: 30px !important;
  text-align: center;
  padding-top: 20px;
  padding-left: 17px;
}

</style>
<br>

<div class="row1 row">
	<div class="dash-cards">
		<div class="icon-back icon-back-users">
			<i class="far fa-thin fa-box"></i>
		</div>
		<div>
			<h5 style="margin-left: 3vw; color: #fff; font-size: 27px; margin-top: 15px;">
				Total Orders<br> <a style="font-size: 30px; line-height: 50px;">{{total_orders}}</a>
			</h5>
		</div>
	</div>
	<div class="dash-cards">
		<div class="icon-back icon-back-users">
			<i class="far fa-thin fa-check"></i>
		</div>
		<div>
			<h5 style="margin-left: 3vw; color: #fff; font-size: 27px; margin-top: 15px;">
				Orders Delivered<br> <a style="font-size: 30px; line-height: 50px;">{{delivered}}</a>
			</h5>
		</div>
	</div>
	<div class="dash-cards">
		<div class="icon-back icon-back-users">
			<i class="far fa-thin fa-clock"></i>
		</div>
		<div>
			<h5 style="margin-left: 3vw; color: #fff; font-size: 27px; margin-top: 15px;">
				Orders Pending<br> <a style="font-size: 30px; line-height: 50px;">{{pending}}</a>
			</h5>
		</div>
	</div>
</div><br>